.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}
.name {
  margin-bottom: 10px;
}
.delete {
  height: 30px;
  margin: auto 0;
}
