.header {
  padding: 1rem;
  background-color: #4b4bb1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.form {
  display: flex;
  align-items: center;
  border: 2px solid #3b4cca;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: white;
}

.input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  width: 200px;
  color: #333;
}

.input::placeholder {
  color: #888;
}

.submit {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b4cca;
  font-size: 20px;
  order: -1;
}

.submit:hover {
  color: #2b3a99;
}
