.container {
  border: 1px solid black;
  max-width: 300px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.innerContainer {
  margin-bottom: 10px;
}
.input {
  width: 100%;
}
.submit {
  margin: 0 auto;
  display: block;
}
span {
  color: red;
}
