.info {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  background-color: rgb(63 81 181 / 68%);
  width: 100%;
  padding: 5px;
}
.img {
  object-fit: cover;
  width: 100%;
}
.text {
  color: white;
}
